appdirs
Flask
Flask-Assets
Flask-BasicAuth
Flask-Script
-e git+https://github.com/digital-land/govuk-jinja-components.git#egg=govuk_jinja_components
gunicorn
itsdangerous
Jinja2==2.11.3
libsass
MarkupSafe
packaging
pyparsing
python-dotenv
six
webassets
Werkzeug
